<% include ./head.ejs %>

<div class="container">
    <p>Female fronted metalcore band from Norfolk, England, formed in 2015.</p>

    The band is composed of Leanne Croft (lead vocals), Henry Meacey (guitar, backing vocals), Martin Page (guitar),
    Mark Radford (bass guitar) and Richard Terry (drums).

    <div class="row">
        <div class="col-sm-4">
            <h4 class="center">Leanne - Vocals</h4>
            <img class="responsive" src="/img/profiles/leanne.png">

            <p><span class="bold">Full Name: </span>Leanne Croft</p>

            <p><span class="bold">Equipment Used: </span>Shure SM58-LC-MEX</p>

            <p><span class="bold">Influences: </span>Heart of a Coward, Whitechapel, BearTooth, Avril Lavigne</p>
        </div>
        <div class="col-sm-4">
            <h4 class="center">Harry - Guitar</h4>
            <img class="responsive" src="/img/profiles/harry.png">

            <p><span class="bold">Full Name: </span>Henry Meacey</p>

            <p><span class="bold">Equipment Used: </span>Jackson KVXT, BC Rich warlock bronze series, Morley wah bad
                horsie, Boss ns-2 noise suppressor, Byang overdrive pedal, line 6 spider 3 head 150watt, line 6 cab,
                roto sound strings 12- 52w.</p>

            <p><span class="bold">Influences: </span>Bullet for my Valentine, Trivium, Killswitch Engage, Machine Head,
                Bring Me The Horizon</p>
        </div>

        <div class="col-sm-4">
            <h4 class="center">Martin - Guitar</h4>
            <img class="responsive" src="/img/profiles/martin.png">

            <p><span class="bold">Full Name:</span> Martin Page </p>

            <p><span class="bold">Equipment Used:</span>Schecter guitars and Blackstar amps.</p>

            <p><span class="bold">Influences:</span> Bring me the Horizon, Killswitch Engage, Parkway Drive</p>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-4">
            <h4 class="center">Rick - Drums</h4>
            <img class="responsive" src="/img/profiles/rick.png">

            <p><span class="bold">Full Name:</span> Richard Terry </p>

            <p><span class="bold">Equipment Used:</span>Pearl VBA Shells, Pearl Demon Drive double kick pedals, Mapex
                Black Panther snare, Sabian B8 cymbals, Big Dog stands + throne, Evans drum heads, Vic Firth American
                hickory sticks</p>

            <p><span class="bold">Influences:</span> Killswitch Engage, Parkway Drive, The Amity Affliction, Trivium</p>

            <img src="/img/rick_kit.gif">

        </div>

        <div class="col-sm-4">
            <h4 class="center">Mark - Bass</h4>
            <img class="responsive" src="/img/profiles/mark.png">

            <p><span class="bold">Full Name: </span>Mark Radford</p>

            <p><span class="bold">Equipment Used: </span>Ibanez SR370, Warwick Streamer, Ernie Ball strings (55-110),
                Jim Dunlop picks</p>

            <p><span class="bold">Influences: </span>Slipknot, Killswitch Engage, Cannibal Corpse, Bermuda</p>
        </div>

        <div class="col-sm-4">

        </div>
    </div>
</div>

<% include ./foot.ejs %>