<% include ./head.ejs %>

<div class="container">
    <p><span class="bold">Email:</span> <a href="mailto:band@ascowardswake.com">band@AsCowardsWake.com</a></p>

    <ul>
        <li><a href="https://www.facebook.com/AsCowardsWake/" target="_blank">Facebook</a></li>
        <li><a href="http://www.twitter.com/as_cowards_wake" target="_blank">Twitter</a></li>
        <li><a href="http://www.instagram.com/as_cowards_wake" target="_blank">Instagram</a></li>
        <li><a href="https://www.youtube.com/channel/UC_rfD0YHINyBmGFVpoQiUBQ" target="_blank">YouTube</a></li>
    </ul>

</div>

<% include ./foot.ejs %>