<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');
        $('ul.nav a').filter(function () {
            return this.href == url;
        }).parent().addClass('active');
    });
</script>

<!-- Piwik -->
<script type="text/javascript">
    var _paq = _paq || [];
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        _paq.push(['setTrackerUrl',  'https://api-fb7fb68851e4580a2068bb0c381907f5.oasis.sandstorm.io']);
        _paq.push(['setSiteId', 2]);
        _paq.push(['setApiToken', 'WpAd9hnDKlwqEvTKF8cQYGHkXXg0Ly_6l03SCnrx4mh']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://ijotue6mf8wpldqbraqg.oasis.sandstorm.io/embed.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Piwik Code -->

</body>
</html>

