<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/instafeed.js/instafeed.min.js"></script>

<script type="text/javascript">


    var feed = new Instafeed({
//        get: 'tagged',
//        tagName: 'awesome',

        get: 'user',
        userId: '2263249088',

        clientId: '40c13647fd554528ae581c422892c896'
    });
    feed.run();

</script>

</body>
</html>

