<%include head_no_nav.ejs%>
<div class="header-bg">
    <div class="logo">
        <div class="container">
            <img class="responsive center" src="/img/name.png">


        </div>
    </div>
    <div class="social">
        <div class="container">
            <a href="https://www.youtube.com/channel/UC_rfD0YHINyBmGFVpoQiUBQ" target="_blank"><img src="/img/social_icons/youtube64.png"></a>
            <a href="http://www.instagram.com/as_cowards_wake" target="_blank"><img src="/img/social_icons/instagram64.png"></a>
            <a href="http://www.twitter.com/as_cowards_wake" target="_blank"><img src="/img/social_icons/twitter64.png"></a>
            <a href="https://www.facebook.com/AsCowardsWake/" target="_blank"><img src="/img/social_icons/facebook64.png"></a>
        </div>
    </div>
</div>
<nav class="navbar center navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="#">Project name</a>-->
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li><a href="/">Home</a></li>-->
                <li><a href="/about">About</a></li>
                <li><a href="/shows">Shows</a></li>
                <li><a href="/media">Music & Videos</a></li>
                <li><a href="/contact">Contact</a></li>
                <li class="nav-social">
                    <a href="https://www.facebook.com/AsCowardsWake/" target="_blank"><img src="/img/social_icons/facebook64.png"></a>
                    <a href="http://www.twitter.com/as_cowards_wake" target="_blank"><img src="/img/social_icons/twitter64.png"></a>
                    <a href="http://www.instagram.com/as_cowards_wake" target="_blank"><img src="/img/social_icons/instagram64.png"></a>
                    <a href="https://www.youtube.com/channel/UC_rfD0YHINyBmGFVpoQiUBQ" target="_blank"><img src="/img/social_icons/youtube64.png"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

