<% include ./head.ejs %>

<div class="container">
    <h2 class="center">The Burden released</h2>

    <p class="center">Our first demo 'The Burden' is live on YouTube, iTunes, Amazon and more.</p>

    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="center embed-responsive-item" src="//www.youtube.com/embed/zCzOZwP0hU0"></iframe>
    </div>
    <p class="center">You can find the links to download the song on our <a href="/media">Music and Videos</a> page.</p>
</div>

<% include ./foot.ejs %>