<% include ./head_no_nav.ejs %>
<div class="ep_page">


    <div class="container">
        <img class="center ep_text" src="/img/name_flat_white.png"/>
        <img class="center ep_image" src="/img/EP_SMALL.jpg"/>
        <img class="center ep_text" src="/img/ep_name.png"/>
        <h1 class="center">Out Now</h1>

        <div class="store_icons">

            <a href="http://apple.co/1Tqb3f2"><img src="/img/store_icons/it.png"/></a>
            <a href="http://bit.ly/1OFdp7I"><img src="/img/store_icons/pla.png"/></a>
            <a href=http://apple.co/1Tqb3f2"><img src="/img/store_icons/a.png"/></a>
            <!--<a href=""><img src="/img/store_icons/sp.png"/></a>-->
    </div>

    </div>

    <% include ./foot.ejs %>
</div>