<% include ./head.ejs %>

<div class="container">

    <h2 class="center">Videos</h2>

    <h3 class="center">The Burden</h3>
    <iframe class="center" width="560" height="315" src="//www.youtube.com/embed/zCzOZwP0hU0" frameborder="0"
            allowfullscreen></iframe>

    <br>

    <h2 class="center">Music</h2>

    <h3 class="center">The Burden</h3>

    <a href="https://itunes.apple.com/gb/album/the-burden-single/id1057077041"><img src="/img/media_icons/itunes.png"
                                                                                    class="center" style="height:64px;"></a>
    <!--<a href="#"><img src="/img/media_icons/googleplay.png" class="center" style="height:64px;"></a>-->

</div>

<% include ./foot.ejs %>