<% include ./head.ejs %>

<div class="container">

    <h2 class="center">Videos</h2>

    <h3 class="center">The Burden</h3>

    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="center embed-responsive-item" src="//www.youtube.com/embed/zCzOZwP0hU0"></iframe>
    </div>

    <br>

    <h2 class="center">Music</h2>

    <h3 class="center">The Burden</h3>


    <div class="col-md-4 text-center">
        <div class="btn-group">
            <button type="button" class="btn btn-danger btn-lg dropdown-toggle center" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                GET NOW <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="https://itunes.apple.com/gb/album/the-burden-single/id1057077041"
                       target="_blank">iTunes</a>
                </li>
                <li><a href="#">Amazon</a></li>
                <li>
                    <a href="https://play.google.com/store/music/album?id=Bjzuy4fq4vdvq7znatadkdrs4v4&tid=song-Tjqm3ciqrl2hu3huiqofldzt63u"
                       target="_blank">Google Play</a></li>
                <li><a href="http://www.amazon.co.uk/Burden-As-Cowards-Wake/dp/B017QYJM1A/" target="_blank">Separated
                        link</a></li>
            </ul>
        </div>
    </div>

</div>

<% include ./foot.ejs %>