<% include ./head.ejs %>

<div class="container">

    <h2 class="center">Videos</h2>

    <h3 class="center">The Burden</h3>

    <br>

    <h2 class="center">Music</h2>

    <h3 class="center">The Burden</h3>

    <a href="#"><img src="/img/media_icons/googleplay.png" class="center" style="height:64px;"></a>
    <a href="#"><img src="/img/media_icons/itunes.png" class="center" style="height:64px;"></a>

</div>

<% include ./foot.ejs %>