<% include ./head_no_nav.ejs %>

<link href="/css/musicplayer.css" rel="stylesheet">

<div class="container">

    <h1 class="center">As Cowards Wake</h1>

    <img class="center" src="/img/ep.jpg">

    <h2 class="center">Review of "A Future Stained By The Past" EP</h2>
    <p class="justify">
        As Cowards Wake are a female fronted band from the UK that will soon be releasing this EP (May 20). Let's get a
        sneak peek of it and see what they have in store.

    </p>
    <p>

        "Within Me" immediately kicks things off with an extreme dose of driving melody along with some melodic
        metalcore instrumentation <span class="promo-quote">which would make Killswitch Engage proud.</span>
        Once the breakdowns come in, it's the equivalent of a swift kick to the face.
        <span class="promo-quote">It's confided brutality at its finest.</span>

    </p>
    <p>

        "One More Life" will bring comparisons to Bullet For My Valentine's "Tears Don't Fall" with its subdued
        nature before exploding into a storm of emotion, passion and melody. The track is simply outstanding.

    </p>
    <p>

        "I Give Up" is the lead single off the EP and closes it out perfectly. The sound on the track features melodic
        riffs and may well be the heaviest of the three tracks. <span class="promo-quote">The guitar solo on the track is out of this world!</span>
        The clean singing (and some harsh screams) throughout the EP mixes perfectly with the metal instrumentation and
        creates such a whirlwind of catchy devastation that every listener will be yearning for more. May 20th cannot
        come soon enough for this impressive EP.

    </p>
    <br>

    <p style="font-size: 1.2rem;
    line-height: 1.2rem;">

        Verdict:
        <br>
        As Cowards Wake have delivered a three track EP that blasts the doors off the metalcore scene. They have
        something truly special here with this EP.
    </p>

    <hr>

    <div class="column add-bottom">
        <div id="mainwrap">
            <div id="nowPlay">
                <span class="left" id="npAction">Paused...</span>
                <span class="right" id="npTitle"></span>
            </div>
            <div id="audiowrap">
                <div id="audio0">
                    <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!
                    </audio>
                </div>
            </div>
            <div id="plwrap">
                <ul id="plList">
                    <li>
                        <div class="plItem">
                            <div class="plNum">01.</div>
                            <div class="plTitle">Within Me</div>
                            <div class="plLength">2:46</div>
                        </div>
                    </li>
                    <li>
                        <div class="plItem">
                            <div class="plNum">02.</div>
                            <div class="plTitle">One More Life</div>
                            <div class="plLength">8:31</div>
                        </div>
                    </li>
                    <li>
                        <div class="plItem">
                            <div class="plNum">03.</div>
                            <div class="plTitle">I Give Up</div>
                            <div class="plLength">5:02</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column add-bottom center">
        <h3>Download EP as: <a href="/private/afsp/As_Cowards_Wake_A_Future_Stained_by_the_Past_MP3.zip">MP3</a> / <a
                    href="/private/afsp/As_Cowards_Wake_A_Future_Stained_by_the_Past_WAV.zip">WAV</a></h3>
    </div>
</div>


<script src="/js/musicplayer.js"></script>

<% include ./foot.ejs %>
