<% include ./head.ejs %>

<div class="container">
    <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script><a href="http://www.bandsintown.com/As%20Cowards%20Wake" class="bit-widget-initializer" data-artist="As Cowards Wake" data-prefix="fbjs">As Cowards Wake Tour Dates</a>
</div>

<% include ./foot.ejs %>
