/*@import url('https://fonts.googleapis.com/css?family=Varela+Round');*/

html, body {
    background-color: #ECF1F5;
    color: #505050;
}

html {
    margin: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-size: 2em;
    /*font-family: 'Varela Round', sans-serif;*/
}

hr {
    /*border: 1px solid #E1E6E9;*/
    /*background-color: #E1E6E9*/
    border-color: #dadada;
}

.hero {
    background: url("/img/hero-bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}

.hero .name {
    padding: 180px 0;
}

.hero .social {
    /*position: ;*/
    float: right;
    padding: 8px;
}

.hero .social img {
    height: 64px;
    width: auto;
}

section {
    padding: 64px 0;

    border-bottom: 1px solid #dadada;
}

section.invert, section:nth-child(even) {
    background-color: #343434;
    color: #ECF1F5;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.media-item img {
    width: 100%;
    max-width: 280px;
}

.center, .text-center {
    text-align: center;
}