html, body {
    color: #353535;
    background-color: #ffffff;
}

.header-bg {
    background: #EAEFF3 url('/img/hero-bg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.header-bg .logo {
    padding: 150px 0;
    height: auto;
}

.header-bg .logo img {
    max-width: 512px;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.responsive {
    width: 100%;
    height: auto;
}

.navbar {
    border-radius: 0;
}

@media (max-width: 768px) {
    .header-bg .logo {
        padding: 50px 0;
        height: auto;
    }
}