/* Font Family
================================================== */
@import url("//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400");

ul {
    list-style: none;
}

/* Basic Styles
================================================== */

html, body {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    /*background-color: #111;*/
    /*color: #C8C7C8;*/
    font: 20px/24px "Yanone Kaffeesatz", HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    padding: 5px 0;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

/* Typography
================================================== */

h1, h6, p {
    /*color: #808080;*/
    /*font-weight: 200;*/
}

h1 {
    /*font-size: 42px;*/
    /*line-height: 44px;*/
    /*margin: 20px 0 0;*/
}

h6 {
    /*font-size: 18px;*/
    /*line-height: 20px;*/
    /*margin: 4px 0 20px;*/
}

p {
    /*font-size: 18px;*/
    /*line-height: 20px;*/
    /*margin: 0 0 2px;*/
}

/* Links
================================================== */

/*a, a:visited {*/
    /*color: #ddd;*/
    /*outline: 0;*/
    /*text-decoration: underline;*/
/*}*/

/*a:hover, a:focus {*/
    /*color: #bbb;*/
/*}*/

p a, p a:visited {
    line-height: inherit;
}

/* Misc.
================================================== */

.add-bottom {
    margin-bottom: 20px !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    text-align: center;
}

/* Custom Styles
================================================== */

/* CSS Transitions */
* {
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
}


/* Audio Player Styles
================================================== */

/* Default / Desktop / Firefox */
audio {
    /*margin: 0 15px 0 14px;*/
    margin:0;
    width: 100%;
}

#mainwrap { /* add box-shadow or other styles here */
}

#audiowrap {
    background-color: white;
    margin: 0 auto;
}

#plwrap {
    margin: 0 auto;
    padding:0;
}

/*#tracks {*/
    /*min-height: 65px;*/
    /*position: relative;*/
    /*text-align: center;*/
    /*text-decoration: none;*/
    /*top: 13px;*/
/*}*/

#nowPlay {
    display: inline;
}

#npTitle {
    margin: 0;
    padding: 21px;
    text-align: right;
}

#npAction {
    padding: 21px;
    position: absolute;
}

#plList {
    margin: 0;
    padding:0;
}

#plList li {
    background-color: white;
    cursor: pointer;
    margin: 0;
    padding: 21px 0;
}

#plList li:hover {
    background-color: #e4e4e4;
}

.plItem {
    position: relative;
}

.plTitle {
    left: 50px;
    overflow: hidden;
    position: absolute;
    right: 65px;
    text-overflow: ellipsis;
    top: 0;
    white-space: nowrap;
}

.plNum {
    padding-left: 21px;
    width: 25px;
}

.plLength {
    padding-left: 21px;
    position: absolute;
    right: 21px;
    top: 0;
}

.plSel, .plSel:hover {
    background-color: #E4E4E4 !important;
    cursor: default !important;
}
#npTitle {
    width: 167px;
}